[2018-05-12 19:38] dnvriend opened #8 "Release a version to an artifactory like Bintray"
Please release a version to an artifactory like eg. Bintray. Having vlingo available as a release artifact makes it easy to try it out.

[2018-05-13 23:03] VaughnVernon commented on #8
Thanks for the suggestion, Dennis. I have not used Artifactory (or don't remember) but it seems to be quite expensive, at least as far as I can see. Is there a free edition for OSS projects? If so, can you point me to the resource so I can sign up?

[2018-05-14 15:18] dnvriend commented on #8
For my project I use Bintray OSS, which is free for Open Source projects. You can sign up with the following url: https://bintray.com/signup/oss . How to publish artifacts is described in the following blog: https://blog.bintray.com/2015/09/17/publishing-your-maven-project-to-bintray/ There are also code examples https://github.com/bintray/bintray-examples/tree/master/maven-example

[2018-05-17 19:50] d-led commented on #8
Hello @dnvriend, this is in the works: https://bintray.com/vlingo/vlingo-platform-java/vlingo-actors

[code]

[code]

`jcenter` is coming if approved

[2018-05-17 19:54] d-led commented on #8
check out the following repo https://github.com/d-led/hello_vlingo for an example project (once #9 is merged if you want to run it under Gradle)

[2018-05-17 20:15] michaelajr commented on #8
Why not use Maven Central? https://maven.apache.org/repository/guide-central-repository-upload.html

[2018-05-17 20:17] d-led commented on #8
@michaelajr  no particular reason yet. Is it as convenient to register and manage?

`jcenter` seem to be the default choice in Gradle at least

[2018-05-18 04:45] VaughnVernon commented on #8
I signed up for Sonatype on Sunday night as the means to push to Maven
Central and yesterday (Wednesday) they informed me that my request is "out
of scope". I have no idea why but I nned to look into some docs and I
really wish someone could help with this. Here is the email I received via
Sonatype's JIRA:

     [ https://issues.sonatype.org/browse/MVNCENTRAL-3395?page=
com.atlassian.jira.plugin.s

[2018-05-18 16:17] VaughnVernon commented on #8
Apparently I didn't use the correct ticket type (referenced an old user guide), which was rejected by Sonatype. I just now filled out another ticket for new project request. Let's hope they accept this one. Their JIRA form is far from one-size-fits-all. The form seems almost as if I would have to fill out one for each vlingo/platform repo because the SCM field allows for only one github.com/vlingo

[2018-05-18 22:36] VaughnVernon commented on #8
@dnvriend @michaelajr Is this something either or both of you could contribute? If so, what do you need in terms of access, etc? There is also a discussion around the pom.xml files for various projects. Our goal is to use Travis-CI to publish all ongoing artifact releases to various public repositories. Certainly Maven Central is top priority.

[2018-05-19 07:54] d-led opened #10 "Transitive dependency info should be published too"
I tried using the library from bintray, however on CI, where the maven cache didn't contain local builds, vlingo-common was missing at run-time.
https://travis-ci.org/d-led/hello_vlingo/builds/380416550
The log also shows that the library wasn't downloaded.
This indicates that the published library doesn't contain metadata about the vlingo-common dependency. Does anyone know how to fix this?

P.S.

[2018-05-19 16:28] d-led commented on #8
jcenter is almost done: waiting for vlingo-actors approval: https://jcenter.bintray.com/io/vlingo/

that means, the default gradle config will work out of the box:

[code]

[2018-05-19 16:57] d-led commented on #8
so, here's a working example of a hello-vlingo-world running both from a maven and a gradle config: https://travis-ci.org/d-led/hello_vlingo/builds/381117104

all artifacts are fetched from bintray. @dnvriend feel free to try it out and close the issue.

[2018-05-20 04:06] dnvriend commented on #8
@VaughnVernon I don't have the time to contribute, but I will try out the dependency as configured by @d-led

[2018-05-20 04:13] #8 closed

[2018-05-25 15:41] michaelajr commented on #8
I'm more of a Maven person. I think when used right, it can be easily leveraged for local and IDE development (using life cycle goals like`mvn clean`, `mvn test`, `mvn install`, etc), and also in CI environments which require discrete pipeline steps (not life cycle goals). In a CI pipeline, the `Unit Test` step would simply call the needed plugins directly instead of executing a life cycle goal. E

[2018-05-25 15:44] michaelajr commented on #8
...should add that the parent pom bring everything needed to publish to Maven Central as well.

[2018-05-26 16:16] VaughnVernon commented on #8
@michaelajr /cc @dnvriend
Thanks for your feedback. The parent pom that you are referring to exists and is vlingo-platform. It already does a full build but doesn't include all of what you specified. I already applied for a Sonatype OSS Project Repository 7 days ago. They say to requires 2 business days, which should have ended this past Tuesday. I don't know what the hold up is, but 4 hours befor

[2018-05-29 13:04] VaughnVernon commented on #8
@michaelajr /cc @dnvriend @d-led

We are chipping away at this. I was finally granted the io.vlingo namespace by Sonatype and need to now prepare to publish to Maven Central. It seems that my next two steps is to generate PGP signatures and update the pom files for each repository that is published with the platform, which I can work on.

- https://central.sonatype.org/pages/working-with-pgp-signa

[2018-05-29 13:13] d-led commented on #8
Bintray publishing via travis is a wrapper of sorts, and PGP signing seems to be at least [prepared for](https://github.com/travis-ci/dpl/blob/master/lib/dpl/provider/bintray.rb#L327): [bintray](https://docs.travis-ci.com/user/deployment/bintray/. This should probably work out of the box, but if it doesn't, one can resort to manual pushes with secret variables set up in the travis-ci UI.

[2018-05-29 16:41] VaughnVernon commented on #8
@d-led Thanks!
@michaelajr /cc @dnvriend Ok, they nexts steps were just revealed by Sonatype in another JIRA comment, and I took a look at @michaelajr 's above referenced pom. It all makes sense now (well, mostly). I still have a question about whether we can publish to Sonatype directly from Bintray or if we must push from Travis-CI. Hopefully that will be intuitively obvious by the time I get th

[2018-05-29 18:56] michaelajr commented on #8
Sorry for the delay. Been in meetings all day. I have never released from travis-ci. I usually pipeline with Jenkins, and then there is a manual "release job" that strips `-SNAPSHOT` from the version using `mvn versions:set`. I then do a `mvn -Psign,sources,docs deploy` (-P are the profiles that turn on signing, and attaching sources and javadocs) to rebuild the artifacts with the NON-SNAPSHOT ver

[2018-05-29 21:41] VaughnVernon commented on #8
@michaelajr No worries, and thanks. Basically everything that you indicated about your Jenkins pipeline is handled already for us by Travis-CI (or in our Maven builds). At this time we don't use -SNAPSHOT because (actually @d-led knows better) it is apparently not supported by Bintray (and/or Travis-CI) so we have no naming to clean up. (Funny, Bintray docs say snapshots are not supported, but rig

[2018-05-29 23:04] d-led commented on #8
The typical strategy is to push snapshots from master and versions from git tags.

The "snapshots not supported" comes from an early build result, where travis brought up this message via bintray. Need to follow up some time in the future. Bintray.json will need to be templatized for the approach to work (this seems a common strategy on github)

[2018-05-29 23:07] VaughnVernon commented on #8
I just saw this:

https://twitter.com/djspiewak/status/1001589613121552384

On Wed, May 30, 2018, 1:04 AM Dmitry Ledentsov <notifications@github.com>
wrote:

[2018-05-29 23:19] d-led commented on #8
For the balance:
http://hintjens.com/blog:85

the strategy I described doesn't mean, the pom would contain snapshot dependencies. Only the library itself would be published as a snapshot, depending on last compatible version. But going too deep into incompatibility should probably be minimized

[2018-05-29 23:27] VaughnVernon commented on #8
I didn't necessarily agree, I just thought the timing was interesting :) I
can see the point of not using them, because you will likely break clients
on a daily basis. It seems that's also what Hintjens was trying to avoid.

On Wed, May 30, 2018, 1:19 AM Dmitry Ledentsov <notifications@github.com>
wrote:

[2018-05-29 23:33] VaughnVernon commented on #8
Allow me to rephrase that. What I meant to say is, I can see why a team would want to produce snapshots on a daily basis to support team development, but we would not want to encourage external clients to depend on them as they would likely cause breaking changes daily. However, a client can always choose to use snapshots if there is some urgent need to get fixes and they are not planning to put t

[2018-05-30 13:51] michaelajr commented on #8
I know there are lots of opinions on this, and my approach might be geared more toward development teams in a company rather than open-source projects. But when it comes to an SDLC, I tend to lean toward Maven conventions. I also use a slightly modified version of GitFlow for the branching strategy. The `master` branch contains the production code (the current release), and the `develop` branch is

[2018-05-30 18:34] michaelajr commented on #8
Btw, I wrote an article called [Maven For Pipelining](https://medium.com/eonian-technologies/maven-for-pipelining-part-1-8b850d10a7ee). Might not be applicable here, but thought I would link to it for those that are interested. As far as not having SNAPSHOT dependencies, this is definitely the case for the release. It should never depend on any SNAPSHOTs. If it does, people that are using the libr

[2018-05-30 23:47] d-led commented on #8
gpg signature is now available. See e.g. [vlingo-common files](https://bintray.com/vlingo/vlingo-platform-java/vlingo-common/0.3.1#files/io%2Fvlingo%2Fvlingo-common%2F0.3.1)

[2018-05-31 23:35] VaughnVernon commented on #8
Bingo:

Sonatype: https://oss.sonatype.org/#nexus-search;quick~vlingo
Maven Central: https://search.maven.org/#search%7Cga%7C1%7Cio.vlingo

More repos will be pushed in the following days.

[2018-07-05 22:58] aleixmorgadas opened #11 "vlingo/actors tutorials. defaultLogger property needs to be true."
at [vlingo/actors tutorial](https://kalele.io/blog-posts/vlingo-actors-tutorial-1/), the `vlingo-actors.properties` file says:

[code]

It throws NullPointerException. Here stack trace:

[code]

When the value is changed to true, it works. After the researching why it happens, found the case at [World.java#L122](https://github.com/vlingo/vlingo-actors/blob/master/src/main/java/io/vlingo/actors/Wor

[2018-07-06 08:41] VaughnVernon commented on #11
Ok, thanks. This is now corrected in the tutorial blog post. This recently changed because:
- The first logger to get registered becomes the default, so default = false didn't matter for only one logger
- Any other logger to get registered after that and is default = true takes over as default
- Now I have replaced JDK logger with an actor-based logger (async logging) but I have to bootstrap the n

[2018-07-06 09:00] #11 closed

[2018-08-05 10:40] kmruiz opened #13 "Link to the tutorial in README.md answers with a 500"
The link that is on the README.md is answering right now with a 500. I don't know if this some temporary issue or there's something broken inside (could be related to the new brand name?)

https://forcomprehension.com/2018/01/26/vlingo-actors-tutorial-1/
![image](https://user-images.githubusercontent.com/1822138/43685070-5e70e436-98ac-11e8-9673-8112be6e3a1c.png)

I've seen that changing the domain

[2018-09-08 20:25] d-led opened #17 "Switch to publishing snapshots from master, and versions from tags"
This is WIP

## Current state

- experiment via the [`snapshots`](https://github.com/vlingo/vlingo-actors/tree/snapshots) branch
- Sonatype credentials : `SONATYPE_PASSWORD`, `SONATYPE_USERNAME` should be entered either via the config: https://travis-ci.org/vlingo/vlingo-actors/settings or the `travis` CLI encrypted variables inside `.travis.yml`
- once publishing snapshots works, the master deplo

[2018-09-08 21:28] d-led commented on #17
@VaughnVernon

there's some progress. I generated a token for myself, and configured it on travis. The repo ID seems to be `oss-snapshots`, as seen in `pom.xml`.

Before, the response was: `Unauthorized`

[code]

currently: `Forbidden`, which sounds like progress

[code]

Next step:
- try with your token
- if that fails, resort to Jira

[2018-12-20 22:49] d-led commented on #17
https://issues.sonatype.org/browse/OSSRH-45028

[2018-12-20 22:54] VaughnVernon commented on #17
I have made all the adjustments in Travis for Sonatype auth.  I saw that the vlingo-actors@snapshot build worked, but I don't see the snapshot artifact anywhere (checked Sonatype and then Bintray).

In case we need more help.
https://groups.google.com/a/glists.sonatype.com/forum/#!forum/ossrh-users

[2018-12-20 22:58] d-led commented on #17
it still doesn't seem to work. The POM looks right, and other projects use the same nodes in the XML, but still. Dunno, if the credentials are passed correctly

[2018-12-20 23:05] d-led commented on #17
ok, progress: `Skipping a deployment with the bintray provider because this branch is not permitted: snapshots`

[2018-12-20 23:06] VaughnVernon commented on #17
I wonder if we must request a new artifact name for Sonatype. Whenever I need to sync a new repo artifacts from Bintray to Sonatype, Bintray requires that we must request this from Sonatype. Thing is, I don't see the new artifact on Bintray (what would the name be?).

[2018-12-20 23:08] d-led commented on #17
we'll need to at least it into master.. it seems, snapshots are only allowed from there. Then we'll see

[2018-12-20 23:34] d-led commented on #17
next challenge:

[code]

[2019-01-06 00:17] bwehrle opened #31 "An actor can be erroneous requested for a Java class type (not interface)"
Hi,
I made a simple coding mistake and tried to instantiate a proxy to an actor by class reference using the class of the "entity" and not the "protocol" (or interfaces definition).  This caused the Dynacompile code to try to create a proxy based on my entity class, which ended up being uncompilable.
I propose the actor proxy creation code checks via reflection that the java type being passed in i

[2019-01-06 00:57] d-led commented on #31
Try it. Looks good to me

[2019-01-06 16:31] VaughnVernon commented on #31
I have fixed this inside `Stage`. The fix will be available later today.

[2019-01-06 21:10] bwehrle commented on #31
Great- thanks for implementing a fix for this!

[2019-01-07 23:00] #31 closed

[2019-01-08 06:48] yuer2016 opened #32 "how to use vlingo-actors ？"
I read the basic tutorial, but how to use it in a specific business scenario. Is there any more sample code? Thank you very much.

[2019-01-08 06:56] VaughnVernon commented on #32
Several/Many examples here. Does this help?

https://github.com/vlingo/vlingo-examples

[2019-01-08 07:34] d-led commented on #32
Depending on the business, here's the kind you might have had in mind https://github.com/kmruiz/vlingo-bank-example

If interfacing with other code is if concern, check out https://github.com/d-led/vlingo_experiments

As with any other technology, trying out the basics will guide one to an understanding how that could be applied in bigger context.

[2019-01-09 02:53] yuer2016 commented on #32
Very helpful, thank you very much. thanks your cool job ,This is a simple and elegant framework!

[2019-01-09 10:14] #32 closed

[2019-01-10 18:20] bwehrle commented on #31
I checked this and it looks good, now throws an IllegalArgumentException.

[2019-01-13 15:12] sharmapankaj2512 opened #33 "Make proxy generation logs configurable"
As of now the start up proxy generation messages `(vlingo/actors: Generating proxy for)` are logged using println statements, this restricts clients of the library from configuring them.

[2019-01-13 18:30] VaughnVernon commented on #33
@sharmapankaj2512 Thanks for reporting! I have committed and pushed a fix for this that will be part of 0.8.0 in a few days. For now you can build from master and test it. I leave it up to you to close when you are confident that it's good.

[2019-01-15 16:38] sharmapankaj2512 commented on #33
@VaughnVernon Thanks for the quick resolution. I will soon verify and close the issue.

[2019-01-16 11:42] eskatos opened #35 "ProxyGenerator configuration shouldn't be static"
Configuration of the `ProxyGenerator` happens via static `Properties`.

This forces consumers, e.g. build tools, to isolate its usage in separate classloaders in order to be able to safely run the proxy generator in parallel on multiple set of actors (think multi-module project build running in parallel).

If the `ProxyGenerator` configuration could be simply passed then this gymnastic wouldn't be

[2019-01-16 11:54] eskatos opened #36 "ProxyGenerator should accept a classpath instead of a single classes directory"
Currently, `ProxyGenerator` can be configured with the `proxy.generated.classes.main`  property. It is then interpreted as a path to a single directory.

It works in simple scenarios like single module maven builds or actor types not depending on other actor types declared in another module or source set.

The property should be a classpath instead, that is a set of paths to JARs and directories.

[2019-01-16 16:00] VaughnVernon commented on #35
@eskatos Sorry for the hassles! The `ClassLoader` is now associated with each `World` as an instance variable. Does that work for you situation? The fix is intended for `0.8.0` available tomorrow.

[2019-01-16 16:19] VaughnVernon commented on #36
@eskatos Ah, that's not what ` proxy.generated.classes.main` is for. That property points to the directory where the generated sources should be created. I see your point about classpath, however. I wonder though, if the classpath were set at runtime, wouldn't the `ProxyGenerator` see all dependencies that way?  Perhaps you are referring to the use of `vlingo-maven-plugin` to generate proxies. Eit

[2019-01-17 08:35] eskatos commented on #36
From my reading it's the `proxy.generated.sources.main` property that points to the directory where the generated sources should be created.

`proxy.generated.classes.main` is the one that is used for the `URLClassLoader` that `ProxyGenerator` uses to inspect protocols. What I'm after is a way to feed the `ProxyGenerator` with a classpath instead of a single directory.

[2019-01-17 08:37] eskatos commented on #35
I should have stated the context in which the issue above takes place: a Gradle plugin that generates actor proxies at build time. There's no `World` there but a direct usage of `ProxyGenerator`, just like the maven plugin does.

[2019-01-18 04:58] VaughnVernon commented on #35
@eskatos I could implement this quickly/easily for <= JDK 1.8 (our current baseline JDK). For JDK 1.9 and above I can't find much clear information as to how to dynamically set the classpath. Any suggestions?

From your experience, is this answer correct?

https://stackoverflow.com/questions/48322201/java-9-add-jar-dynamically-at-runtime/48323948#48323948

[2019-01-18 05:10] VaughnVernon commented on #36
@eskatos Ok, thanks for your patience. As stated in #35 I can implement as you request but I don't have experience with `ClassLoader` from JDK 1.9+. Any clues would be helpful. (Besides, I had no time today to research this beyond a few Google searches.)

[2019-01-18 09:13] eskatos commented on #35
I implemented what I had in mind in #37. There should not be any issues with Java >=9 with this approach. I hope it clarifies things a bit, let's discuss around the code.

[2019-01-18 09:42] eskatos commented on #36
Fixed by #37, closing

[2019-01-18 09:42] #36 closed

[2019-01-18 09:42] eskatos commented on #35
Fixed by #37, closing

[2019-01-18 09:42] #35 closed

[2019-01-25 22:54] VaughnVernon commented on #33
Hi @sharmapankaj2512 Could you please confirm the fix and close?

[2019-01-26 03:52] sharmapankaj2512 commented on #33
@VaughnVernon how do I go about configuring the logging? Do I need to use `vlingo-actors.properties`?

[2019-01-26 03:59] VaughnVernon commented on #33
@sharmapankaj2512 There are a few options.

If you use properties file configuration, look here:
https://github.com/vlingo/vlingo-actors/blob/d553b60b74b443e2c2ca41f4fd4bb4119e99fba5/src/test/resources/vlingo-actors.properties#L36

And read this, too, for properties file configuration (just below the above link):
https://github.com/vlingo/vlingo-actors/blob/d553b60b74b443e2c2ca41f4fd4bb4119e99fba5

[2019-01-26 04:32] VaughnVernon commented on #33
@sharmapankaj2512 Thanks for reporting the issue and for confirming the fix!

[2019-01-26 09:23] bwehrle opened #39 "Actor proxy for methods declared not as Completion<X> should fail faster"
Currently when a proxy is generated for an actor interface there are two cases:
* Returns Completes<T>
* Returns instance of T

In the first case everything works correctly.  In the second case the code generated will always return null, which is a trap for the unwary developer.  My suggestions would be to disallow this case- all return types must of type Completion (could be Completion<Void>).

H

[2019-01-26 10:08] VaughnVernon commented on #39
@bwehrle I understand. The problem with changing it is, in a few special cases we do allow immediate actor state accessors, such as with `Stoppable::isStopped()`.  See `Stoppable__Proxy`.

[2019-01-29 10:52] bwehrle opened #40 "Actor query when processing apply() returns intermediate state"
I have a OrderEntity that when constructed represents an order without any items.  It then has an apply(CreatedEvent) which loads the items.  Afterwards, the client checks to see what's in the order.  In some cases, the client query sees the entity with an empty order, which according to how stowage should work, should not be the case.

Repro:
* Remove all local vlingo JARs
* Clone https://github.

[2019-01-29 17:40] VaughnVernon commented on #40
@bwehrle Thanks for reporting. I quick look at your test indicates that you are creating multiple `Order`s all with the same id. That would seem to have a big part in this. Also, I am not certain what `Completes<Void>` is meant to accomplish, because the protocol could be either `void` or `Completes<OrderInfo>`. If the latter you could use the `apply(..., andThen)` parameter as follows, and your c

[2019-01-30 09:25] bwehrle commented on #40
Hi @VaughnVernon ,
The Void was just a way to let the client wait on the application of the event or to know when it was done.  It is (or should be) superfluous.  The OrderResource class is using the following code to generate the Id of the order.

I printed out the Ids and they are all distinct

I agree I could do as you say (returning the state as a Completable<T>, but since you said that stowag

[2019-02-06 19:25] VaughnVernon commented on #40
@bwehrle Thanks for your patience. I do see a failure very reliably at every fifth test run (!?!), but I don't think the cause is what you expected me to see. It's really strange that it doesn't exhibit the failure on any other run. That's just crazy :)

Where I see the consistent failure is not in the product count assertion, but here:

[code]

This seems like a very unreliable assertion, asking

[2019-02-06 20:41] VaughnVernon opened #41 "Occasional Failure of ProxyGenerator"
There is an occasional failure of the `vlingo-actors` `ProxyGenerator`. I think this is a problem with concurrent access of the `ClassLoader` that holds the Java byte-code outcome of generation and compilation.

[2019-02-07 08:36] bwehrle commented on #40
Hi @VaughnVernon ,
What is weird for me is that I could reproduce this problem using a single thread when running my test from time to time.  The single threaded case was very basic -  thanks for looking at this issue - it seems to be a classic case of unsynchronized data access.

[2019-02-07 15:17] VaughnVernon commented on #40
Even with one test thread there is at least one other thread at play to deliver the current message to the `Actor`.  The access of data touched by both threads must be synchronized or enough time must pass for the reading thread to see updates in main memory. Again, these two statements can happen out of order:

[code]
Per the Java threading model running on modern Intel cores the `until.happened(

[2019-02-08 17:40] VaughnVernon opened #42 "Need Test for SmallestMailbox Router"
The test must create a subclass of `SmallestMailboxRouter`, which can be seen here:

 https://github.com/vlingo/vlingo-actors/blob/master/src/main/java/io/vlingo/actors/SmallestMailboxRouter.java

The test must also create two or more other actors that implement a protocol to serve as `workers`. It is the `worker` actors whose *mailbox sizes need to be controlled by the test cases* to verify that

[2019-02-23 13:54] VaughnVernon commented on #41
This is not a problem with the `ProxyGenerator` but one that occurred directly following generation. Closing.

[2019-02-23 13:54] #41 closed

[2019-02-23 15:33] kmruiz commented on #39
@VaughnVernon If there is a list of `special` protocols, like Stoppable, maybe we can apply the suggestions that @bwehrle is sharing with us only for any protocol that is not `special`.

I personally agree that the generator should be smarter and be able to produce more reasonable errors.

[2019-02-23 15:44] VaughnVernon commented on #39
@kmruiz I do support "special" cases but those are purposely hand coded. Under normal circumstances we should *never* allow the `Actor` messaging to be bypassed by direct method invocations.

[2019-02-23 15:49] kmruiz commented on #39
It means that the proxy generator shouldn't consider any special change, so it will be as `simple` as only allowing methods that return `void` or `Completes<T>` and fail in any other case. Is that right?

[2019-02-23 15:51] VaughnVernon commented on #39
Yes, ok, I agree with *fail fast* on the proxy generation if there is a non-`void` return type that is not a `Completes<T>`. Sorry, I thought you were suggesting to support special cases with direct access into the `Actor` instance.

[2019-02-23 16:47] kmruiz commented on #39
This commit: https://github.com/vlingo/vlingo-actors/commit/dced01a692a9e4ddaefed249d3f22f3f49e06a99

should improve the error handling and throw an exception with a proper message:

[code]

[2019-02-24 08:23] bwehrle commented on #39
Cool!  This will really help prevent some frustration for new developers.
For the documentation, it would be good to call out theses cases; the
generated code proxy and its limitations, and the hand-coded case, etc.

Regards,
Brian

On Sat, Feb 23, 2019, 17:47 Kevin Mas Ruiz <notifications@github.com> wrote:

[2019-03-06 22:51] kmruiz opened #43 "Stage.actorOf(Class, Address) returns a success Completes<T> with a null value when the actor does not exist"
Right now, it's returning a null value that is hard to handle because you can have either null or an actor reference. With the current BasicCompletes<T> implementation, if any of the andThen, andThenTo steps fail with a NPE, neither otherwise or recoverFrom are called. During a HTTP Request, the client wouldn't get any answer.

*How to reproduce*

1. Create a World instance
2. Call world.stage().a

[2019-03-07 19:33] VaughnVernon commented on #43
@kmruiz This should be fixed/improved by some changes in both `io.vlingo.common.BasicCompletes` as well as `io.vlingo.actors.Stage` and `io.vlingo.actors.DirectoryScannerActor`. Please confirm. If it is not fixed please provide a test that fails so I can make it green.

The main "fix" here is in part to recognize that a `null` is always a failure value. If there is any code that considers `null` t

[2019-03-08 11:09] kmruiz commented on #43
We can assume that null will be always a failure. For representing an abscense of a value, we can use Optional<T> or even we can use null objects 😄

[2019-03-08 17:40] VaughnVernon commented on #43
Implemented `maybeActorOf()` that returns `Completes<Optional<T>>`.

[2019-03-08 18:31] kmruiz commented on #43
We can close it then 👍 . Thanks!

[2019-03-08 18:31] #43 closed

[2019-03-12 16:38] VaughnVernon opened #44 "Eliminate Bare TestUntil Uses"
The following tests must be converted to use `AccessSafely` rather than bare `TestUntil`:

- ActorLifecycleTest
- ActorsTest (abstract base for other tests)
- BroadcastRouterTest
- CharactersTest
- CompletesActorProtocolTest
- ContentBasedRouterTest
- DeadLettersTest
- LocalMessageTest
- MockCompletes
- SchedulerTest
- StageTest
- WorldDefaultConfigurationTest
- WorldTest

[2019-03-17 08:45] d-led commented on #17
got a spare minute and tried an alternative provier: https://packagecloud.io/docs#maven_deploy

the free plan is kind of limited (250mb), but at least it worked out of the box via gradle. I just followed the gradle instructions, and the snapshot build got published: https://packagecloud.io/dled/dled/packages/java/dled.java.experiments/dled.java.experiments-0.0.1-SNAPSHOT.jar

source: https://githu

[2019-03-17 10:01] d-led commented on #17
resulting packages on packagecloud:
![Screen Shot 2019-03-17 at 10 57 51](https://user-images.githubusercontent.com/1716584/54488588-b8466100-48a3-11e9-8e6a-4d06f468064e.png)

release built triggered via creating a branch
![Screen Shot 2019-03-17 at 10 58 02](https://user-images.githubusercontent.com/1716584/54488589-b8466100-48a3-11e9-865c-8ae999b324cd.png)

snapshot build triggered via a commit

[2019-03-17 16:57] d-led commented on #17
halting the packagecloud effort, as 250mb storage and bandwidth might be too limiting

[2019-04-07 13:56] VaughnVernon commented on #40
@bwehrle I want to mark this closed. There are two improvements: (1) `Completes<T>` has been fixed to reactive to errors with latent error handler registry inside `BasicCompletes<T>`. (2) The addition of `AccessSafely` supports thread-safe access of in-test state. It would help if you could confirm this.

[2019-04-07 13:57] VaughnVernon commented on #39
@bwehrle @kmruiz Can you please confirm that this can be closed? Thanks!

[2019-04-07 17:57] VaughnVernon commented on #17
Comment by from gitter:

https://gitter.im/vlingo-platform-java/actors?at=5ca9ee9525686a7dc3ee0679

Copied text follows.

=====================================

I suggested to change the new version to SNAPSHOT after release. As I do not know what you want and how deep your knowledge is, here a short summary of my knowledge about "how to release". As you can see there are (as always) alternatives.

[2019-04-09 11:56] kmruiz commented on #39
It should be on the latest version of vlingo `0.8.2` and snapshots :D. So if @bwehrle can take a look and confirm that it works for him, it can be closed.

[2019-04-14 19:44] Framstag commented on #17
Still thinking about it:

The current structure of the code is:
* vlingo-platform which contains the actual build/release stuff
* vlingo-xxx a number of  base and extension modules

Each project has its own git (github) repository.

There are multiple types of builds (either currently implemented or potential useful):
* Central build/test on each checking => Build /test errors should immediately (

[2019-04-15 02:33] VaughnVernon commented on #40
I have confirmed fixes and since @bwehrle has not yet confirmed I am closing.

[2019-04-15 02:33] #40 closed

[2019-04-15 02:35] VaughnVernon commented on #39
I have confirmed fixes as have others. Although @bwehrle has not confirmed, I am closing this.

[2019-04-15 02:35] #39 closed

[2019-04-17 22:34] bwehrle commented on #39
My apologies, gentlemen, for not confirming this fix sooner- I just wrote a small test with this and it works great and the error message is concise and helpful.  Thanks much!
[code]

[2019-04-17 23:20] bwehrle commented on #40
Hi @VaughnVernon, I re-ran these tests inside my example using 0.8.3 and could no longer repro the issue.  Thanks for fixing this issue!

[2019-04-26 18:48] alanStrait opened #45 "Exceptions should never be suppressed"
In using vlingo for application development the default actor supervisor policy seems to cause exceptions to be lost without being logged.  While the documentation is clear that actor lifecycle methods should be overridden to understand why an actor has been stopped, it would be valuable for the default policy to, “log and stop” rather than just “stop.”

[2019-04-26 18:52] VaughnVernon commented on #45
@alanStrait Thanks, this is good. Do you mean like this?

[code]

[2019-04-26 18:58] alanStrait commented on #45
Yes, that would be helpful, it not a full stack trace (when in development mode).

[2019-04-26 19:02] VaughnVernon commented on #45
@alanStrait Ok, will do. I think that all of the default supervisors log, but I may be wrong. If you can identify any supervisors missing logging I can fix those, too.

[2019-04-26 19:49] VaughnVernon commented on #45
@alanStrait The `Actor` default recovery methods now implementing logging. Please test and close if you agree that it's fixed. (Again if you find other places that are missing essential logging please create and issue.)

[2019-04-26 19:58] alanStrait commented on #45
Yes, that would be helpful, if not a full stack trace (for development mode).

Alan Strait | m.+1.720.840.8567

[2019-04-26 20:22] VaughnVernon commented on #45
@alanStrait The full stacktrace should log/print with the standard logging. If you agree, please Close this issue. See:

https://github.com/vlingo/vlingo-actors/blob/e6926cdf0a12978b40a7c4ffa103eb720732f599/src/main/java/io/vlingo/actors/plugin/logging/jdk/JDKLogger.java#L72

[2019-04-26 20:23] alanStrait commented on #45
After picking up the change I reverted some source code to expose an NPE that I would have hoped to be logged.  Unfortunately the behavior remains as before, no indication of what is wrong but also does not complete restful call.  I'd suggest closing this and perhaps I'll be able to collect more information that may be helpful as time goes on.

[2019-04-26 20:23] #45 closed

[2019-04-26 21:12] VaughnVernon commented on #45
Implemented. There may be other issues with recovery that are app/service specific. Closing.

[2019-04-27 00:56] lskillen commented on #17
Hello! @cloudsmith-io can help with hosting of snapshots (or releases), and you don't need to apply for an open source account. Just create an open source repository and away you go. You shouldn't have any issues with limitations.

Disclaimer: I work for Cloudsmith. :)

[2019-06-07 16:07] VaughnVernon commented on #44
See PR https://github.com/vlingo/vlingo-actors/pull/46

I will start a new Issue for these.

The test classes, that I have left with `TestUntil`, are :

`ManyToOneConcurrentArrayQueueDispatcherTest`
`RingBufferDispatcherTest`
`RingBufferMailboxActorTest`

The solutions using `AccessSafely` looked right on paper, but the test would hang indefinitely waiting to complete.

I am sure that with more ti

[2019-06-07 16:07] #44 closed

[2019-06-07 16:09] VaughnVernon opened #47 "Refactor TestUntil to AccessSafely: Mailbox and Dispatcher Tests"
Based on #44

The test classes that I have left with `TestUntil`, are :

`ManyToOneConcurrentArrayQueueDispatcherTest`
`RingBufferDispatcherTest`
`RingBufferMailboxActorTest`

The solutions using `AccessSafely` looked right on paper, but the test would hang indefinitely waiting to complete.

I am sure that with more time and better investigation it could be done.

[2019-06-18 19:48] alexguzun opened #52 "Log loses the context of caller"
Each log event loses the context of the caller: class, thread, method, MDC (Mapped Diagnostic Context) and most importantly the real time of the event.

This occurs mostly due to the fact that the logging is done not by original Actor, but is sent to the `Slf4jLoggerActor` Actor, as a message.

A possible solution is to craete a wrapper class, that encapsulates all required information. Something

[2019-06-18 22:33] VaughnVernon commented on #52
We can have an implementation of Logger in the Actor that allows for MDC key-value setting and that is sent to the actor-based logger as a parameter. This will require additional methods on the interface to carry the MDC parameter. The Logger can be held on Environment.

[2019-08-04 23:41] VaughnVernon commented on #52
@alexguzun If we were to create the wrapper as you suggest, what would be the default information that should be provided for each Actor? For example, should we show the fully-qualified classname or just the simple classname? If you could, please list the reasonable defaults and then also the necessary API for overriding any of the defaults and setting additional MDC information.

[2019-08-04 23:46] VaughnVernon opened #54 "Support CompletableFuture<T> and Future<T> In ProxyGenerator"
For anyone with a spare hour or so, this is a pretty simple contribution.

Support `CompletableFuture<T>` and `Future<T>` as valid types in the `ProxyGenerator`. Inside the `ProxyGenerator` you will see the current `Completes<T>` support, and these two additional types can be added along side it pretty easily.

**NOTE:** These will not be used for vlingo-platform internals or public APIs. We will

[2019-08-05 09:09] alexguzun commented on #52
Each log event must capture:
- **Fully qualified name of class**. Slf4j allows configuring the output of class name. Users can configure to output just name. Example `%logger{36}`
- **Event timestamp**
- **Thread name**

For MDC, we can add this optional information:
- **Actor name**
- **Actor address**
- **World name**
- **Stage name**

For actor logging, I would make sense to have the logging AP

[2019-08-20 23:23] VaughnVernon opened #55 "Reimplement Stage::stop() and Actor::stop()"
`Stage::stop()` -- Make async. Use `Completes<T>` for stopping an entire `Stage`.

`Actor::stop()` -- Ensure association reference removal from parent.

[2019-08-30 05:23] #54 closed

[2019-10-04 15:42] wwerner commented on #17
Necromancing this issue. A bit long, sorry.

From what I learned from the discussions on slack and my experience setting up my vlingo dev environment, we currently have these challenges/issues/open questions regarding building and releasing:

1. No real `-SNAPSHOT` builds - Forces developers to build the complete platform locally quite often, as there are many changes and outdated versions (with t

[2019-10-06 18:39] VaughnVernon commented on #17
What @wwerner has put together is very well thought out and takes this discussion farther than it's previously gone. Thanks!

We need to have broader input from others, not only from a prior experience PoV but also from where we are and what we need to accomplish. @kmruiz and I discussed having a team meeting. I am sure we could find a time for everyone's timezone and I am quite flexible myself (I

[2020-02-09 16:01] anderskristian opened #63 "code won't build"
Hi
1) I have cloned git clone git@github.com:vlingo/vlingo-actors.git
2) then cd to project
3) mvn clean install

-- get errors
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/aka/data/projects/vlingo/vlingo-actors/src/main/java/io/vlingo/actors/Mailbox.java:[10,24] cannot find symbol
  symbol:   class SerializableConsumer
  location:

[2020-02-09 16:05] VaughnVernon commented on #63
@anderskristian You also need to `git clone vlingo-common` and `mvn clean install` and then same on `vlingo-actors`.

[2020-02-09 16:11] anderskristian opened #64 "getting started sample seems outdated and got a logging problem"
I have tried to follow https://kalele.io/vlingo-actors-tutorial-1/

I see that the sample is not up to date with the sample in the samples. it just confuse me a little. Okay I made it work by taking the new code from the new samples.
So I learned something ... :-)

The logging has a problem.
When I build from mvn clean the logging works.
When I run it the second time the logging is not shown...

I

[2020-02-09 16:14] anderskristian commented on #63
Thanks for the answer
And for the quick answer - super
/Anders

[2020-02-09 16:25] anderskristian commented on #63
Okay building vlingo-common solves it
Super

[2020-02-09 16:25] #63 closed

[2020-02-09 17:16] VaughnVernon commented on #63
@anderskristian BTW, I think you will be much happier if you take all the current release from Sonatype or Maven Central. Those are both our official release repositories. The current release is `1.1.0`.

https://oss.sonatype.org/#nexus-search;quick~vlingo

https://search.maven.org/search?q=vlingo

[2020-02-09 17:18] VaughnVernon commented on #64
@anderskristian Do you mind telling me what is wrong in the docs so I can update them? Thanks!

[2020-02-09 17:32] anderskristian commented on #64
Tutorial  https://kalele.io/vlingo-actors-tutorial-1/ is based on version 0.4.8
Current version in sample in code base vlingo-examples/vlingo-actors-playground is very different.

The new version
1) does use World.startWithDefaults - so no property file is needed
2) and uses TestUntil - the 0.4.8 uses pauseThisThread

A) as a beginner I find startWithDefaults easier..
B) I normally sits and use th

[2020-02-09 17:38] VaughnVernon commented on #64
@anderskristian This is where you want to read these days.

https://docs.vlingo.io/vlingo-actors

Also the logging "problem" you are seeing is most likely due to the `Logger` implementation being an actor and the actor has not processed all of its messages before the `World.terminate()` completes. It's possible that the proxy creation increases time for the `Logger` to process its messages. If you

[2020-02-09 17:40] anderskristian commented on #63
We will absolutely use released software. So agree.

I had the same problem with vlingo-examples earlier this week. And here am sitting and changing examples to learn things.  So here it was really relevant to know the parent build requirement.

[2020-02-09 17:44] anderskristian commented on #64
I have tried to put Thread.sleep(1000) - it did not change the result
I will try again now. Just to make sure ..

[2020-02-09 17:45] VaughnVernon commented on #63
@anderskristian The entire platform may be built using the `vlingo-platform` repo. See the `README` for how to do that. Currently we have a little bit wonky local platform build (not so on Travis) because we require to run Postgres, MySQL, and RabbitMQ in local docker containers. So see the `README` for instructions on how to do the full build.

Also note a warning that the last example project of

[2020-02-09 17:47] anderskristian commented on #64
This is my code and it does NOT log when proxy has been generated

`    @Test
    public void testPlayPingPong() {
        final World world = World.startWithDefaults("playground");
        final TestUntil until = TestUntil.happenings(1);
        final Pinger pinger = world.actorFor(Pinger.class, PingerActor.class, until);
        final Ponger ponger = world.actorFor(Ponger.class, PongerActor.clas

[2020-02-09 17:47] VaughnVernon commented on #63
@anderskristian BTW, if you know of anyone who has real expertise in CI/CD and could help us make our local and Travis builds better we'd certainly accept the contributions. We are currently understaffed for that and although I have sought others to help, everyone I contact is too busy.

[2020-02-09 17:53] VaughnVernon commented on #64
With clean test:

[code]
$ mvn test

With test (no clean):

Running playground.PlaygroundTest
18:49:08.673 [pool-2-thread-8] DEBUG io.vlingo.actors.Logger - playground.PingerActor - ping 1
Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.327 sec

Results :

Tests run: 1, Failures: 0, Errors: 0, Skipped: 0
[code]

[2020-02-09 18:01] anderskristian commented on #63
I sit in board if the Danish JUG. We are definitely going to talk about vlingo - so I will pass it un.

I worked a client where we called out current version in pom.xml always is <version>LOCAL_BUILD</version>

Then the CI team had made a maven plugin that takes the release version from a tag at master branch.

I will try to make then publish this plugin.

[2020-02-09 18:04] VaughnVernon commented on #63
@anderskristian One of our core developers @buritos is in Copenhagen. I am sure he'd like to meet you.

[2020-02-09 18:07] anderskristian commented on #63
Sounds great I would like to meet @buritos - so I will try contacting him

[2020-02-10 07:06] d-led commented on #64
in case it helps, I've kept a version of "hello world" here: https://github.com/d-led/hello_vlingo

will update it to the latest version too to see if it still runs

[2020-02-10 11:59] VaughnVernon commented on #64
Closing this issue. Please see docs.vlingo.io for up-to-date docs.

[2020-02-10 11:59] #64 closed

[2020-02-25 12:08] buritos opened #69 "Using andThen on the completes returned from Actor.completes() throws UnsupportedOperationException exception"
[code]
When boom is called on the actor proxy created via `World.actorFor` it throws:
[code]
I was expecting a successful `Completes` with the `Integer` value `2` inside.

[2020-02-25 17:35] VaughnVernon commented on #69
@buritos My feedback is in Slack. If you want to condense any of that and put it here for later reference that's fine.

[2020-03-02 19:41] buritos opened #70 "Fails with LinkageError"
https://github.com/vlingo/vlingo-actors/blob/68f9762a9e96367ab8a13bd3a507624887542788/src/test/java/io/vlingo/actors/ActorEnvironmentTest.java#L53

[2020-04-07 01:57] #47 closed

[2020-04-22 07:51] alexguzun commented on #52
Closed by #77

[2020-04-22 07:51] #52 closed

[2020-05-23 03:18] VaughnVernon commented on #17
This has been supported by the new CI pipeline: GitHub -> Travis -> Bintray.

For release procedures, see:
https://github.com/vlingo/vlingo-platform/blob/master/RELEASE_HOW_TO.md

[2020-05-23 03:18] VaughnVernon commented on #17
This has been supported by the new CI pipeline: GitHub -> Travis -> Bintray.

For release procedures, see:
https://github.com/vlingo/vlingo-platform/blob/master/RELEASE_HOW_TO.md

[2020-05-23 03:18] #17 closed

[2020-05-23 03:21] VaughnVernon commented on #70
This was a problem with the `World` `ClassLoader` used by `vlingo-lattice` and was fixed there by the following.

https://github.com/vlingo/vlingo-lattice/blob/75893168a726b9851e309ffeb6c22ac1f1b37436/src/main/java/io/vlingo/actors/Grid.java#L208

[2020-05-23 03:21] #70 closed

[2020-05-23 03:22] VaughnVernon commented on #69
This was fixed by the following and some redesign.

https://github.com/vlingo/vlingo-common/issues/12

[2020-05-23 03:22] #69 closed

[2020-09-25 20:20] pflueras opened #78 "Remove stopped child actor from parent's children list"
Stopped child actor is not removed from parent's children list.

[2020-09-30 20:04] #78 closed

[2020-10-15 15:14] HadyDab opened #81 "MailBox Thread Issue"
When running a Xoom application with the following configuration in vlingo-actor.properties.

[code]

The following Exception is thrown under heavy load ( when 10,000 requests are being sent every second).

[code]

Note:  This however seems not to impact the end result

[2020-10-20 13:54] flaxel opened #82 "Actor instantiation failed because: No constructor matches the given number of parameters."
**Describe the bug**
We created a project with the [vlingo-xoom-starter](https://github.com/vlingo/vlingo-xoom-starter). Our [project](https://github.com/whzinformatik/stocktrader) is an implementation for the vlingo-stock-trader. We adapt the generated project a little bit and we get an exception that the actor cannot be initialized because the constructors did not match the given number of param

[2020-10-20 16:11] VaughnVernon commented on #82
@flaxel Thanks. This is apparently a XOOM Starter code generation bug. Would you mind moving it under that repository and assign it to @Florian-Schoenherr.

[2020-10-20 16:26] flaxel commented on #82
Thank you for your quick answer. 😄 I created the bug, but I have not the permission to assign this issue to Florian-Schoenherr. Can you add him or can I get the permission?

[2020-10-20 16:54] #82 closed

[2020-11-02 20:29] VaughnVernon commented on #81
This turned out to be an operating system configuration issue. There are no limits imposed by vlingo-actors or any other vlingo-* component.

[2020-11-02 20:29] #81 closed

[2020-11-02 20:32] VaughnVernon commented on #55
Fixed by:

https://github.com/vlingo/vlingo-actors/commit/346ce57ef168c48f0ece8901e2db30b3e1a976e2#diff-dc3bc4bbb40108c38574a4c9c686f6984f292031968a722ae657b364c5a4cd2a

[2020-11-02 20:32] #55 closed

[2020-11-02 20:37] VaughnVernon opened #83 "Configuration must accept new custom plugins not previously known"
Attempting to by fluent API register some plugins that are unknown to the `Configuration` will fail. Example, the `jdbcQueueMailbox` is registered over top of the `queueMailbox`. Note this is not a problem when registering by means of `vlingo-actors.properties`.

[code]

[2020-11-02 20:38] VaughnVernon opened #84 "Configuring previously unknown plugins by fluent API will fail"
Attempting to by fluent API register plugins that are unknown (not built-in) to the `Configuration` will fail. Example, the `jdbcQueueMailbox` is registered over top of the `queueMailbox`. Note this is not a problem when registering by means of `vlingo-actors.properties`.

The `World` starts:

[code]

The mailbox to be registered:

[code]

[2020-11-02 20:45] VaughnVernon commented on #83
Due to github hiccup it appeared that this issue was not created so I resubmitted, which caused a new issue to be created.

[2020-11-02 20:45] #83 closed

[2020-11-02 21:08] VaughnVernon commented on #84
The problem turned out to be overwriting the preexisting default plugin. The registration works as long as the type is different:

`JDBCConcurrentQueueMailboxPluginConfiguration` registers as a separate plugin and preserves the default `ConcurrentQueueMailboxPluginConfiguration`.

[2020-11-02 21:09] #84 closed

[2021-04-12 06:28] VaughnVernon opened #88 "Actor::logger() Short Circuit Non-Applicable Logging"
- When logger() is used, don't log if the log level is not in scope
- Provide `isLevelEnabled()` where *`Level`* is `Info` `Warn` `Error` `Fatal` `Debug` ...

[2022-05-16 23:57] roegerle opened #96 "ConcurrentModificationException in TestWorld.track"
version 1.9.3
java.util.ConcurrentModificationException
                at java.base/java.util.HashMap.computeIfAbsent(HashMap.java:1221)
                at io.vlingo.xoom.actors.testkit.TestWorld.track(TestWorld.java:131)
                at io.vlingo.xoom.actors.plugin.mailbox.testkit.TestMailbox.send(TestMailbox.java:75)

I'm working under the assumption that TestWorld and World for that matter

[2022-05-17 08:21] jakzal commented on #96
@roegerle is it possible for you to provide a test case to reproduce this?

[2022-05-17 12:45] VaughnVernon commented on #96
@jakzal The `Map` is a plain `HashMap` but should be `ConcurrentHashMap`. My guess is that he's running both Scooter blocking mailbox and non-blocking mailboxes at the same time.

@roegerle In case you are doing otherwise, the `TestWorld` is meant only for testing.

[2022-05-17 13:29] roegerle commented on #96
[https://github.com/roegerle/vlingo-issue-96](https://github.com/roegerle/vlingo-issue-96)

Run it a few times to get the error.  Last time it took four runs.

[2022-05-17 17:08] VaughnVernon commented on #96
Thanks. I have changed the `HashMap` to `ConcurrentHashMap`, but that will ultimately not fix your issue. There are a few problems using `TestWorld` and `TestActor` the way that you are using them:

- The TestWorld and TestActor are meant to be used in simple tests for checking the messaging delivery and behavior as well as internal state transitions. This is stated in the documentation:
  - https

[2022-05-17 20:45] VaughnVernon commented on #96
@roegerle @jakzal BTW, I did not mean that an actor must be run on a single unique thread. Any actor can be called by any number of unique threads, but by only one at a time.

[2022-05-17 22:57] roegerle commented on #96
I thank you for the thourough response but I'm a little confused.  I understand the actors themselves are not thread safe but is accessing them via the generated proxy thread safe?

[2022-05-18 00:38] VaughnVernon commented on #96
The `Mailbox` type and the delivery semantics are what make actors thread safe. The proxy is used to reify method invocations on the proxy into objects of type Message and, under normal mailbox use, enqueue that message in the actor's mailbox.

However, there are two broad mailbox types under discussion in this context:

- There are (normal) buffer-based mailboxes, where the buffer is either a que

[2022-05-18 09:53] roegerle commented on #96
It does. Thank you.

[2022-05-18 13:24] #96 closed

[2022-06-21 01:34] fizz12344321 opened #97 "why can you archive High concurrency"
Hi, i am reading your project and i am interesting it, but i have a question, why can you archive High concurrency in your app, can you tell me how can you do it, the pros and cons when using it, thank u so much

[2022-06-21 03:15] VaughnVernon commented on #97
@fizz12344321 Have you read our documentation?

https://docs.vlingo.io

For very high throughput, see:

https://docs.vlingo.io/xoom-actors#mailbox

Specifically read the part under `"arrayQueueMailbox"`

[2022-06-21 03:40] VaughnVernon commented on #97
This is a completely different platform that serves the contemporary use of DDD. To understand our vision please read our documentation, especially the introductory chapters.

[2022-06-21 03:46] #97 closed

[2022-06-21 04:25] VaughnVernon commented on #97
@fizz12344321 My vision and that of our company is different from the libraries you reference. Actors reflect true objects as intended by Alan Kay, the originator of the term object-oriented and the Smalltalk language, because "the big idea is messaging" between discrete objects. This is a specific,  opinionated approach to software development and DDD.

I have spent a lot of time writing our docu

[2022-06-22 10:22] VaughnVernon commented on #97
Chapters 1-4.

[2022-06-22 17:19] VaughnVernon commented on #97
Check your spam folder for the confirmation download email message.

[2022-07-03 15:27] bwehrle opened #98 "Dynamic proxy generation writes java code for test actors into non-test directory"
When using IntelliJ the xoom-actors project does not compile.   The proxies generated for test classes are put into the generated-soures directory (for main modules).  The compilation of this directory fails because these proxies are referencing types in the test path that are not in the non-test compile path.

It turns out that every proxy is generated and put inside the main generated resources.

[2022-07-03 15:30] VaughnVernon commented on #98
Thanks @bwehrle We don't see that failure at all. Are you using Gradle?

[2022-07-03 15:46] bwehrle commented on #98
No, this is using normal IntelliJ with maven.  I had not had this problem before, but have not been able to compile xoom-actors in IntelliJ without manually fixing the file to code to use "forTest" while running my tests.  Regardless, even if it works in Maven, there is an undesirable consequence of shipping test code with production jars.

When I do all of my building using Maven inside IntelliJ

[2022-07-04 18:58] VaughnVernon commented on #98
@bwehrle I found the issue. Some of our `pom.xml` files across the platform are missing the plugin and `test-compile` configuration that prevents this issue:

[code]

We should soon have fixes in `xoom-*-1.9.4-SNAPSHOT`.

[2022-07-06 00:10] VaughnVernon commented on #98
@bwehrle I was wrong in my previous diagnosis. The way this has been addressed is as follows:

- When the `World` is started it discovers whether it is running under `main` or `test`. The current approach is quite simplistic but I think it is reliable.
  - If the `World` discovers that it is under test, it prepares the `ActorProxy` to use `ProxyGenerator.forTest(...)` rather than `ProxyGenerator.f

[2022-07-08 14:59] bwehrle commented on #98
Hi @VaughnVernon - thanks for fixing this.  I was surprised to see that there is no other way to determine that something is running under test or main.  However, this does indeed fix the problem.

I confirmed that under Maven there is no such problem and in no case does test code get shipped with the production jar even without this fix.  So we can close this one.

[2022-07-08 14:59] #98 closed

[2022-07-08 16:09] VaughnVernon commented on #98
Thanks for confirming @bwehrle!

[2022-07-10 13:16] bwehrle opened #99 "Individual mailboxes cannot be created except via properties"
Therefore there is no way to create configurations programatically when different plugin configurations are needed.  The most relevant case for this is that of the ManyToOneConcurrentArrayQueuePlugin.  This mailbox type requires that there only be 1 mailbox per actor (it is M:1).  See https://docs.vlingo.io/xoom-actors#mailbox - scroll to "arrayQueueMailbox" section.

As discussed with @VaughnVern

[2022-07-10 13:38] bwehrle opened #100 "ManyToOneConcurrentArrayQueueMailboxActorTest does not use correct mailbox"
The ManyToOneConcurrentArrayQueueMailboxActorTest actually does not instantiate the appropriate mailbox.  There are two problems here:

1. One line of code is missing to enable the mailbox plugin
2. There is no way to check that the right mailbox- or plugin- is being used for the actor except by side-effects

Problem 1 is easy to solve

Problem 2 requires some more introspection to check that the

[2022-07-11 22:56] VaughnVernon commented on #99
Hi @bwehrle We can code configure all mailbox plugins. Please see:

https://github.com/vlingo/xoom-actors/blob/f66fa3b15e593f49de0c30df9c34c172fb4d9dbe/src/test/java/io/vlingo/xoom/actors/ConfigurationTest.java#L50

- Is this ^^^ the configuration that you are looking for?
  - If not, what would be different and how would it work?
- We did discuss the need for `ManyToOneConcurrentArrayQueuePlugin`

[2022-07-14 14:36] VaughnVernon commented on #100
@bwehrle From the above only 2 is fixed. Would you please submit a new PR for 1?

From @pflueras Slack message:

[code]

[2022-07-26 05:29] bwehrle commented on #100
OK, we can now close this issue.

[2022-07-26 05:29] #100 closed

[2022-07-26 10:20] VaughnVernon commented on #99
@bwehrle Would you please ^^^ comment on the previous two comments, or at least the last one? We don't understand how you intend to use dynamic, in-code configuration.

[2022-07-26 14:42] bwehrle opened #105 "ManyToOne Mailbox type overflow needs a agreed-upon solution"
The ManyToOne mailbox can easily overflow when the Actor does not process messages in time -or- when it contributes to the overflow by sending messages to itself.

Previous to PR#104, this would cause a deadlock, and the CPU would spin indefinitely when an overflow would happen.  After the PR, and overflow leads to an unchcked exception, which then impacts the calling thread or actor.  This issue

[2022-07-26 16:35] VaughnVernon commented on #99
@bwehrle Additionally I just implemented the single "arrayQueue" mailbox per actor instance. If a developer needs a kind of "shared mailbox" they can use one of the following router types:

[code]
The implementation is in the current SNAPSHOT.

[2022-07-26 16:48] VaughnVernon commented on #105
@bwehrle You make some good points about the Actor potentially having bugs or just a poor design. So on second thought, perhaps the exception is best, at least for the foreseeable future.

The idea I thought of presenting is what I just brought up in #104 about how to use a sort of "shared mailbox," or similar approach

(1) I think that adding worker actors behind a root router actor. That is, you

[2022-07-26 20:34] bwehrle commented on #99
Sorry for falling behind on the threads here:

The problem with using the code configuration is that when I filed the issue the API for creating a ManyToOne mailbox did not allow the name to be specified.  This was only available from properties.  In addition, writing N properties is not a solution for dynamic number of actors.

I think that only leaves one options: define a type of mailbox and th

[2022-07-26 20:59] VaughnVernon commented on #99
The API has always supported creating an actor with a mailbox by name. You used it in your overflow test:

[code]

Notice: `Definition.has(..., "testArrayQueueMailbox", ...)` and the `setUp()`:

[code]

Do any of these address what you are looking for? If we are missing any `Stage::actorFor(...)` implementation that you need it can certainly be added.

[2022-07-27 07:16] bwehrle commented on #105
I think the only approach that seems to work involves an actor writing to its own outbox, and being able to run when the outbox has space.  A worker thread sources from these outboxes and writes them to destination inboxes, and the source worker can run again.

This requires a non-cyclic DAG in order to be guaranteed to work, exactly what you are describing in Xoom Streams.  Each problem has a dif

[2022-07-27 14:31] VaughnVernon commented on #105
@bwehrle Please let me know if XOOM Streams is the way you will go. It could be that a new `Processor` filter could be used for routing. We can provide one for round-robin or least busy. The backpressure protocol helps with that, but more could be done at the upstream source.

[2022-07-28 17:10] bwehrle commented on #105
So far, I think I can't tell if that's needed.  The only task I would say coming from this issue is a note in the Mailbox documenation on what happens when things fill up, and stating that if the developer needs some kind of guarantees this will not happen then they need to use Xoom streams, or use another mailbox and accept the risk of an OOM.

[2022-07-28 17:10] #105 closed